<footer>
    <div class="flex bg-red-800 border-b border-black items-center flex-row text-white justify-center bottom-0">
        <ul class="flex flex-row">
            <a href="/">
                <li class="py-1 px-2 sm:text-sm text-[8px] border-r border-black duration-300 cursor-pointer hover:bg-red-900">Эхлэл</li>
            </a>
            <a href="/">
                <li class="py-1 px-2 sm:text-sm text-[8px] border-r border-black duration-300 cursor-pointer hover:bg-red-900">Бидний тухай</li>
            </a>
            <a href="/">
                <li class="py-1 px-2 sm:text-sm text-[8px] border-r border-black duration-300 cursor-pointer hover:bg-red-900">Үйлчилгээний нөхцөл</li>
            </a>
            <a href="/">
                <li class="py-1 px-2 sm:text-sm text-[8px] border-r border-black duration-300 cursor-pointer hover:bg-red-900">Сурталчилгаа байршуулах</li>
            </a>
            <a href="/">
                <li class="py-1 px-2 sm:text-sm text-[8px] duration-300 cursor-pointer hover:bg-red-900">Холбоо барих</li>
            </a>
        </ul>
        <!-- <ul class="flex items-center justify-end">
            <a href="https://www.facebook.com/ulstor.mn">
                <li class="py-1 px-2 border-r border-black duration-300 cursor-pointer hover:bg-red-900">Facebook</li>
            </a>
            <a href="/">
                <li class="py-1 px-2 duration-300 cursor-pointer hover:bg-red-900">Twitter</li>
            </a>
        </ul> -->
    </div>
    
    <div class="flex justify-center bg-gray-700 items-center py-4 text-white md:px:16">
        <div class="flex">
            <p class="sm:text-md text-sm text-center p-8">
                © MGL Media Group 2022 он<br>
                Зохиогчийн эрх хуулиар хамгаалагдсан.<br>
                Сайтад нийтлэгдсэн мэдээ, мэдээллийг ашигласан тохиолдолд сайтын нэрийг заавал дурдана.
            </p>
        </div>  
    </div>
</footer>
</body>
</html>